{% extends "base.html" %}

{% block title %}Página de Usuário - OC CDC{% endblock %}
{% block page_title %}Página de Usuário{% endblock %}

{% block content %}
<div class="container">
    <p class="mb-3">Olá, {{ current_user.email.split('@')[0] | title }}! Bem-vindo(a)!</p>
    <p class="mb-4">Você pode acessar a página de entrada de vendas aqui:</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Ir para a Entrada de Vendas</a>
</div>
{% endblock %}

{% block extra_css %}
<style>
    body[data-theme="light"] p {
        color: #333;
    }
    
    body[data-theme="dark"] p {
        color: #e0e0e0;
    }
</style>
{% endblock %}